<div >
   <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
      <h1>Select the Payment Method</h1>
<br>


      <div class="row">
         <a href="/checkout" type="button" class="btn btn-success"> Card Payment</a>
         <a href="/cashOnDelivery" type="button" class="btn btn-success">Cash On Delivery</a>

      </div>
   </div>
</div>